<%- include("header") -%>
<div class="login">
    <h1><%= h %></h1>
    <form action="/" method="post">
        <input type="text" minlength="8" name="usern" placeholder="Username" autocomplete="off" required>
        <input type="password" name="passn" minlength="8" name="Password" placeholder="Password" autocomplete="off" required>
        <button class="loginbtn" type="submit" onclick="check()">Login</button>
    </form>
    <form action="/signup" method="get">
        <button class="loginbtn" type="submit">SignUp</button>
    </form>
    <p><%= msg %></p>
</div> 
<%- include("footer") -%>